{% extends "layout.html" %}
{% block body %}
 
 <div class="page-content">
    	<div class="row">
		  
		  <div class="col-md-10">
			</p>
				<h2>Paper Title: 10-Year Follow-up of Intensive Glucose Control in Type 2 Diabetes</h2>
				<h4>Authors: </h4>
				<h4>Guideline Recommendation: </h4>
			<p>

  			<div class="row">
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Race Distribution</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<img src="{{ url_for('static', filename='images/sco/MetConvTherapy.png') }}" width="450" height="300" alt="">
		  				</div>
		  			</div>
  				</div>
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Gender Distribution</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<img src="{{ url_for('static', filename='images/sco/MetforminGender.png') }}" width="450" height="300" alt="">
		  				</div>
		  			</div>
  				</div>
  			</div>

  			<div class="row">
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Spread of Cholesterol results</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<img src="{{ url_for('static', filename='images/sco/CholesterolMetformin.png') }}" width="450" height="300" alt="">
		  				</div>
		  			</div>
  				</div>
  				<div class="col-md-6">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">Spread of Systolic Blood Pressure results</div>
							
							<div class="panel-options">
								<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
								<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
		  				<div class="panel-body">
		  					<img src="{{ url_for('static', filename='images/sco/SystolicBP.png') }}" width="450" height="300" alt="">
		  				</div>
		  			</div>
  				</div>
  			</div>


		  </div>
		</div>
    </div>
 
{% endblock %}